<%- include ../extend/header %>
<section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">帳戶管理</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">
          「權限說明 0:管理者 1:分區管理者 2:里長 3:里民」
          	<% if(user.level == 0)  { %>
				你是管理者
			<% }else if(user.level == 1){ %>
				你是分區管理者
			<% }else if(user.level == 2){ %>
				你是里長
			<% }else { %>
				你是里民
			<% } %>
          </p>
       </div>
    </div>
	<div class="row">
		<div class="col-md-12 column">
			<form method = "post" id="accountList" name="accountList">

				<table id="table1"  class="display" cellspacing="0" width="100%">
					<thead>
						<tr style="color:#428bca">
							<th>帳戶</th>
							<th>名稱</th>
							<th>日期</th>
							<th>縣市別</th>
							<th>權限等級</th>
							<th>核可</th>
							<th>
							</th>
						</tr>
					</thead>
					<tbody>
					<% if (users) { %>
						<% for(var i = 0;i<users.length;i++) { %>
							<tr>
								<td>
									<input name="account" type="text" value="<%= users[i].account %>" disabled="disabled"/>
								</td>
								<td>
									<input name="name" type="text" value="<%= users[i].name %>"/>
								</td>
								<td>
									<%= users[i].update_at %>
								</td>
								<td>
                          			<%= users[i].city %>
								</td>
								<td>
									<select id="level" name="level">
									<% if(user.level == 0)  { %>
										<% if(users[i].level == 1)  { %>
											<option value = "0" selected>
										<% }else{ %>
											<option value = "0">
										<% } %>
											0
										</option>
										<% if(users[i].level == 1)  { %>
											<option value = "1" selected>
										<% }else{ %>
											<option value = "1">
										<% } %>
											1
										</option>
									<% } %>
										<% if(users[i].level == 2)  { %>
											<option value = "2" selected>
										<% }else{ %>
											<option value = "2">
										<% } %>
											2
										</option>
										<% if(users[i].level == 3)  { %>
											<option value = "3" selected>
										<% }else{ %>
											<option value = "3">
										<% } %>
											3
										</option>

									</select>





								</td>
								<td>
								    <% if(users[i].enable) { %>
										<input type="checkbox" name="enable" value="enable" checked >
									<% }else { %>
										<input type="checkbox" name="enable" value="enable" >
									<% } %>
								</td>

								<td>
									<button type="button" name="edit" class="btn btn-primary btn-sm" onClick="editCheck(<%= i %>,'<%= users[i].account %>')">
										 Edit
									</button>

									<button type="button" name="del" class="btn btn-danger btn-sm" onClick="delCheck(<%= i %>,'<%= users[i].account %>')">
										Delete
									</button>
								</td>
							</tr>
						<% } %>
					<% } %>
					</tbody>
				</table>
				<input id="postMode" name="postMode" type="text">
				<input id="postAccount" name="postAccount" type="text">
				<input id="postName"   name="postName" type="text">
				<input id="postLevel"  name="postLevel" type="text">
				<input id="postEnable" name="postEnable" type="text">
			</form>

		</div> <!-- column-->
	</div>	<!--row-->

<!-- （Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               刪除帳戶警告
            </h4>
         </div>
         <div id="del-account" class="modal-body">
            確定刪除帳戶嗎?
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">關閉
            </button>
            <button type="button" onClick="toSubmit()" class="btn btn-danger">
               確定刪除
            </button>
         </div>s
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</section>
<%- include ../extend/footer %>